<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Edit</h1>

    <h4>${_productDTO.productName}</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="quantity">Quantity</label>
                    <input class="form-control" type="number" id="quantity" value="${_productDTO.quantity}" maxlength="64" value.bind="_quantity" />
                </div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: productInWarehouses-details; params.bind: {id: _productInWarehouse.id}">Back to List</a>
    </div>
</template>
