@model PictureCreateEditViewModel
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Picture.ProductId" class="control-label"></label>
    <input asp-for="Picture.ProductId" class="form-control" />
    <span asp-validation-for="Picture.ProductId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Picture.ProductPicture" class="control-label"></label>
    <input asp-for="Picture.ProductPicture" class="form-control" />
    <span asp-validation-for="Picture.ProductPicture" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Picture.CreatedBy" class="control-label"></label>
    <input asp-for="Picture.CreatedBy" class="form-control" />
    <span asp-validation-for="Picture.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Picture.CreatedAt" class="control-label"></label>
    <input asp-for="Picture.CreatedAt" class="form-control" />
    <span asp-validation-for="Picture.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Picture.DeletedBy" class="control-label"></label>
    <input asp-for="Picture.DeletedBy" class="form-control" />
    <span asp-validation-for="Picture.DeletedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Picture.DeletedAt" class="control-label"></label>
    <input asp-for="Picture.DeletedAt" class="form-control" />
    <span asp-validation-for="Picture.DeletedAt" class="text-danger"></span>
</div>