@model WebApp.ViewModels.ProductInBasketCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
                <label asp-for="ProductInBasket.ProductId" class="control-label"></label>
                <input asp-for="ProductInBasket.ProductId" class="form-control" />
                <span asp-validation-for="ProductInBasket.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInBasket.Quantity" class="control-label"></label>
                <input asp-for="ProductInBasket.Quantity" class="form-control" />
                <span asp-validation-for="ProductInBasket.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInBasket.CreatedBy" class="control-label"></label>
                <input asp-for="ProductInBasket.CreatedBy" class="form-control" />
                <span asp-validation-for="ProductInBasket.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInBasket.CreatedAt" class="control-label"></label>
                <input asp-for="ProductInBasket.CreatedAt" class="form-control" />
                <span asp-validation-for="ProductInBasket.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInBasket.ChangedBy" class="control-label"></label>
                <input asp-for="ProductInBasket.ChangedBy" class="form-control" />
                <span asp-validation-for="ProductInBasket.ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInBasket.ChangedAt" class="control-label"></label>
                <input asp-for="ProductInBasket.ChangedAt" class="form-control" />
                <span asp-validation-for="ProductInBasket.ChangedAt" class="text-danger"></span>
            </div>