<template>
    <h1>Details</h1>

    <div>
        
        
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Campaign
        </dt>
        <dd class = "col-sm-10">
            ${_campaign.discount}
        </dd>
    </dl>
    
        
    </div>
    <div>
        <a route-href="route: campaigns-edit; params.bind: { id: _campaign.id }">Edit</a> |
        <a route-href="route: campaigns-index; params.bind: { }">Back to List</a>
    </div>
</template>