@model ProductInWarehouseCreateEditViewModel
<div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductInWarehouse.ProductId" class="control-label"></label>
                <input asp-for="ProductInWarehouse.ProductId" class="form-control" />
                <span asp-validation-for="ProductInWarehouse.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInWarehouse.WarehouseId" class="control-label"></label>
                <input asp-for="ProductInWarehouse.WarehouseId" class="form-control" />
                <span asp-validation-for="ProductInWarehouse.WarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInWarehouse.Quantity" class="control-label"></label>
                <input asp-for="ProductInWarehouse.Quantity" class="form-control" />
                <span asp-validation-for="ProductInWarehouse.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInWarehouse.CreatedBy" class="control-label"></label>
                <input asp-for="ProductInWarehouse.CreatedBy" class="form-control" />
                <span asp-validation-for="ProductInWarehouse.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInWarehouse.CreatedAt" class="control-label"></label>
                <input asp-for="ProductInWarehouse.CreatedAt" class="form-control" />
                <span asp-validation-for="ProductInWarehouse.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInWarehouse.DeletedBy" class="control-label"></label>
                <input asp-for="ProductInWarehouse.DeletedBy" class="form-control" />
                <span asp-validation-for="ProductInWarehouse.DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductInWarehouse.DeletedAt" class="control-label"></label>
                <input asp-for="ProductInWarehouse.DeletedAt" class="form-control" />
                <span asp-validation-for="ProductInWarehouse.DeletedAt" class="text-danger"></span>
            </div>