body.index {
    font-family: Arial;
    font-size: 17px;
    padding: 1px;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.old {
    padding: 5px 10px 15px 20px;
    border: 1px solid lightgrey;
    background-color: dimgrey;
    opacity: 0.9;
    border-radius: 25px;
}

.active {
    padding: 2px 2px 2px 2px;
    margin-bottom: 30px;
    bottom: 20px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 0px;
}
.order{
    color: black;
}

label {
    margin-bottom: 10px;
    display: block;
}
.btn:hover {
    background-color: #45a049;
}

a {
    color: black;
}

hr {
    border: 1px solid lightgrey;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}

.table-bordered{
    border:1px solid black;
    box-shadow: 0 -2px 2px rgba(34,34,34,0.6);
}
.table-bordered > thead > tr > th{
    box-shadow: 0 -2px 2px rgba(34,34,34,0.6);
    border:1px solid black;
}
.table-bordered > tbody > tr > td{
    box-shadow: 0 -2px 2px rgba(34,34,34,0.6);
    border:1px solid black;
}
tr.order{
    overflow: auto;
    height: 60px;
    width: 200px;
}
