<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>


    <h1>Details</h1>

    <div>
        <h4>Person</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                ${_account.email}
            </dd>
            <dt class="col-sm-2">
                FirstName
            </dt>
            <dd class="col-sm-10">
                ${_account.firstName}
            </dd>
            <dt class="col-sm-2">
                LastName
            </dt>
            <dd class="col-sm-10">
                ${_account.lastName}
            </dd>
        </dl>
    </div>
    <div>
        <a route-href="route: accounts-edit; params.bind: { id: _account.id }">Edit</a> |
        <a route-href="route: accounts-index; params.bind: { }">Back to List</a>
    </div>
</template>
