<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Index Persons</h1>
    <p>
        <a route-href="route: accounts-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="account of _account">
                <td>
                    ${account.email}
                </td>
                <td>
                    ${account.firstName}
                </td>
                <td>
                    ${account.lastName}
                </td>
            
                <td>
                    <a route-href="route: accounts-edit; params.bind: { id: account.id }">Edit</a> |
                    <a route-href="route: accounts-details; params.bind: { id: account.id }">Details</a> |
                    <a route-href="route: accounts-delete; params.bind: { id: account.id }">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</template>
