@model BasketEditCreateViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Basket.AccountId" class="control-label"></label>
    <input asp-for="Basket.AccountId" class="form-control" />
    <span asp-validation-for="Basket.AccountId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Basket.CreatedBy" class="control-label"></label>
    <input asp-for="Basket.CreatedBy" class="form-control" />
    <span asp-validation-for="Basket.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Basket.CreatedAt" class="control-label"></label>
    <input asp-for="Basket.CreatedAt" class="form-control" />
    <span asp-validation-for="Basket.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Basket.DeletedBy" class="control-label"></label>
    <input asp-for="Basket.DeletedBy" class="form-control" />
    <span asp-validation-for="Basket.DeletedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Basket.DeletedAt" class="control-label"></label>
    <input asp-for="Basket.DeletedAt" class="form-control" />
    <span asp-validation-for="Basket.DeletedAt" class="text-danger"></span>
</div>