@model WarehouseCreateEditViewModel
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Warehouse.WarehouseCode" class="control-label"></label>
    <input asp-for="Warehouse.WarehouseCode" class="form-control" />
    <span asp-validation-for="Warehouse.WarehouseCode" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Warehouse.CreatedBy" class="control-label"></label>
    <input asp-for="Warehouse.CreatedBy" class="form-control" />
    <span asp-validation-for="Warehouse.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Warehouse.CreatedAt" class="control-label"></label>
    <input asp-for="Warehouse.CreatedAt" class="form-control" />
    <span asp-validation-for="Warehouse.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Warehouse.DeletedBy" class="control-label"></label>
    <input asp-for="Warehouse.DeletedBy" class="form-control" />
    <span asp-validation-for="Warehouse.DeletedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Warehouse.DeletedAt" class="control-label"></label>
    <input asp-for="Warehouse.DeletedAt" class="form-control" />
    <span asp-validation-for="Warehouse.DeletedAt" class="text-danger"></span>
</div>