<template>
    <body>
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Kaselehe</h1>
                <div class="list-group">
                    <a repeat.for="category of _categories" class="list-group-item" route-href="route: categories-details; params.bind: { id: category.id }">${category.categoryName}</a>
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <div class="row">

                    <div repeat.for="product of _products" class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a route-href="route: products-details; params.bind: { id: product.id }">
                                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a route-href="route: products-details; params.bind: { id: product.id }">${product.productName}</a>
                                </h4>
                                <h5>${product.productPrice} €</h5>
                                <p class="card-text">${product.description}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>
