<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Kaselehe</h1>
                <div class="list-group">
                    <a repeat.for="category of _categories" class="list-group-item" route-href="route: categories-details; params.bind: { id: category.id }">${category.categoryName}</a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                    <div class="card-body">
                        <h3 class="card-title">${_Product.productName}</h3>
                        <h4>${_Product.productPrice} €</h4>
                        <p class="card-text">${_Product.description}</p>
                    </div>
                    <div class="col-xs-4">
                        <a if.bind="appState.jwt != null" click.delegate="onSubmit($event)" class="btn btn-primary text-white" role="button">${langResources[state.selectedCulture.code].addToBasket}</a>
                        <a if.bind="appState.jwt == null" route-href="route: account-login; params.bind: {}" class="btn btn-primary text-white" role="button">${langResources[state.selectedCulture.code].addToBasket}</a>
                        <a href="index.html" class="btn btn-primary text-white" role="button">${langResources[state.selectedCulture.code].backToProducts}</a>
                        <a if.bind="appState.jwt.token()" route-href="route: products-delete; params.bind: {id: _Product.id }">Back to List</a>
                    </div>
                </div>
                <a if.bind="jwt.token" route-href="route: products-edit; params.bind: { id: _Product.id }">Edit</a>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
    </div>

</template>
