<template>
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Kaselehe</h1>
                <div class="list-group">
                    <a repeat.for="category of _categories" class="list-group-item" route-href="route: categories-Details; params.bind: { id: categoryId }">${category.categoryName}</a>
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                    <div class="card-body">
                        <h3 class="card-title">${_Product.productName}</h3>
                        <h4>${_Product.productPrice} €</h4>
                        <p class="card-text">${_Product.description}</p>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control input-sm" value="1">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-link btn-xs">
                            <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
    </div>

</template>
